@import "core/mixins"
@import "core/var"
@import "core/colors"
@import "core/fonts"
@import "core/breakpoints"
@import "core/default"

@import "templates/base"

@import "templates/partials/postCard"
@import "templates/partials/markdown"

@import "templates/pages/index"

@import "templates/posts/single"

