.home
  margin globalMargin
  padding smallMargin
  border-radius 3px
  background white
  box-shadow 0 4px 20px 0px rgba(0, 0, 0, .14)

  @media screen and (max-width tablet)
    margin mediumMargin

  @media screen and (max-width mobile)
    margin smallMargin

h1
  fontsize(48px)
  margin-bottom mediumMargin

h2
  fontsize(32px)
  margin-bottom smallMargin

.wrapper
  margin smallMargin 0