{% load compress %} {% load compile_static %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bauhaus Blog</title>
    <meta
      data-hid="description"
      name="description"
      content="A Django discovery project"
    />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />
    <link
      rel="mask-icon"
      href="{% static 'safari-pinned-tab.svg' %}"
      color="#5bbad5"
    />
    {% compress css %}
    <link rel="stylesheet" href="{% static 'assets/vendor/css/reset.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/stylus/main.styl'|compile %}"
    />
    {% endcompress %}
  </head>
  <body>
    {% block page_content %}{% endblock %}
  </body>
</html>
